.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
  z-index: 20;
}

.slick-prev:before,
.slick-next:before {
  font-size: 28px;
  color: #e9cd2f;
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 20px;
    height: 20px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
  }
}
